body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* .container02 {
    position: fixed;
    overflow: hidden;
    width: 900vw;
    height: 900vh;
}
.carte02 {
    position: absolute;
    width: 200%;
    height: auto;
} */
