/* GÉNÉRAL */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "MuseoModerno", sans-serif;
}

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(9, 151, 115, 1) 0%, rgba(67, 182, 146, 1) 90% );
  overflow: hidden;
}

h1.page-title {
  position: fixed;
  top: 32px;
  z-index: 1;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "MuseoModerno";
  text-align: center;
  font-weight: 600;
  margin: 0;
}

h1 {
  color: #fff;
  line-height: 110%;
  padding: 32px;
}

h2,
h3,
p {
  color: #0E587D;
}

p,
a {
  font-family: "Roboto";
}

/* NAVBAR */
.nav-wrapper {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 0;
  z-index: 100;
  background-color: #ffffff7a;
  box-shadow: 0px 0px 20px 0px #215A2D;
  margin-top: 16px;
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
} 

.logo {
  width: auto;
  padding: 8px 0;
}

.logo-img {
  width: auto;
  height: 32px;
}

/* MAIN */

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  background: #fff;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

.swiper-slide h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide a {
  color: #ffffff;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic1.squarespace.com%2Fstatic%2F54a65094e4b0631d0c489ac8%2F54b0d420e4b02156349f490e%2F587f1dc13e00be6f0d1714a0%2F1484725707636%2FHarding%2BPark1-13.jpg&f=1&nofb=1&ipt=6ae83ceb6549a82f890ee48f8fc7a7534c89dd7c36f5f6a7527fd1a12b46b339&ipo=images")
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.planetgolf.com%2Fuploads%2Fcourses%2Fmoorpark-1554329722.jpg&f=1&nofb=1&ipt=c21daeaab73c3a3705f0775e87ce00b70748a9f8c6f9f96636a212c3d4501542&ipo=images")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcrownguardsecurity.co.uk%2Fwp-content%2Fuploads%2F2021%2F05%2Fhpgc1.jpg&f=1&nofb=1&ipt=e43af7c1aff15f7cb7e9a6822356838e5a0a683fe9aaf6a5c4f8f512839b307c&ipo=images")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgolfdigest.sports.sndimg.com%2Fcontent%2Fdam%2Fimages%2Fgolfdigest%2Ffullset%2Fcourse-photos-for-places-to-play%2FMemorial%2520Park%2520ninth%2520green%2520Credit%2520Keyur%2520Khamar%2520PGA%2520TOUR%2520via%2520Getty%2520Images.jpg.rend.hgtvcom.966.644.suffix%2F1640817523972.jpeg&f=1&nofb=1&ipt=3393399980d4dc10d5fb5ebfb8c37cd0d3eddae30fe46457aa6e2495772f3af3&ipo=images")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.hermannpark.org%2Fmedia%2Fuploads%2Fpages%2FPlaces%2F.thumbnails%2Fgolf_course-680x400.jpg&f=1&nofb=1&ipt=397b61670e36d8cddd3d380014280be7aa5d5d64d7235a9e8b0e1494f50dd514&ipo=images")
      no-repeat 50% 50% / cover;
}

.swiper-slide--six {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fres.cloudinary.com%2Fpgahq%2Fimage%2Fupload%2Fv1679930235%2Fdot-com-images%2FScreen_Shot_2023-03-27_at_11.16.52_AM_pcv8ui.png&f=1&nofb=1&ipt=b1ead5cd78094e0deb830655e2a75016912e22389484d8b80c5623308a080757&ipo=images")
      no-repeat 50% 50% / cover;
}

.swiper-slide--seven {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frusutsu.com%2Fwp-content%2Fuploads%2F2020%2F03%2Fpark-golf_program1.jpg&f=1&nofb=1&ipt=3fafb2ddd588506224f6891b89f2c1658510170ee09ae9910ab0e02ae3a00437&ipo=images")
      no-repeat 50% 50% / cover;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    width: 16px !important;
    height: 16px !important;
    padding: 8px;
    background-color: #0E587D;
    border-radius: 100px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
  color: #fff !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}
