.prototype-navbar {
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 100;
    height: auto;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
  
.prototype-navbar ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 16px;
}
  
.prototype-navbar li {
    width: calc(100% / 3);
    text-align: center;
}

.prototype-navbar li a {
    color: #114f3e;
    font-size: 20px;
}

.prototype-navbar li a.active {
    border-bottom: 1.5px solid #114f3e;
    padding: 8px;
}

.swiper-slide {
    position: relative; 
}

.swiper-slide--two {
background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://img.freepik.com/photos-gratuite/illustration-3d-stylo-mettant-tiques-bleues-du-papier_107791-15675.jpg?t=st=1734619069~exp=1734622669~hmac=aae994636967ddba97bd5a0839e869a0c5f5f3f699ad2e7adf2221db01f76903&w=1480")
    no-repeat 50% 50% / cover;
}

.overlay {
    position: absolute;
    z-index: 9; 
}

#ball {
    top: 39%;
    left: 64%;
}

#cart {
    top: 60%;
    left: 54%;
}

#bag {
    top: 40%;
    left: 40%;
}

.btn {
    position: relative;
    padding: 12px 48px;
    border-radius: 30px;
    background-color: #114f3e;
    color: #fff;
}

.timeline {
    width: 100%;
    height: calc(100vh - 148px);
    padding: 48px;
    overflow-y: auto;
}

.timeline h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.timeline p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: #ffffff;
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: #ffffff;
}

.timeline p:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: #ffffff;
    text-align: center;
    line-height: 1.25em;
    color: #000000;
    font-size: 1em;
}

.timeline p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;    
}

.timeline p:nth-child(odd):before {
  left: 100%; 
  margin-left: -20px;
}

.timeline p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;    
}

.timeline p:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
}

p:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}

p:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}